:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
}
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
.flex-center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fundo{
    width: 100%;
    height: 100dvh;
    justify-content: space-around;
}
.intro-box{
    width: 100%;
}
.intro h2{
    font-size: clamp(1.5rem,6vw,3rem);
    color: var(--grey-400);
    font-weight: 200;
}
.intro h3{
    font-size: clamp(1.5rem,6vw,3rem);
    color: var(--grey-500);
    font-weight: 600;
    padding-bottom: 15px;
}
.intro p{
    font-size: clamp(.1rem,4vw,1.2rem);
    color: var(--grey-400);
}
.intro{
    padding-top: 2rem;
    text-align: center;
    width: 90%;
    padding-bottom: 3rem;
}
.limit{
    width: 90%;
    padding: 20px;
}
.icons h3{
    font-size: clamp(.5rem,3vh,1.2rem);
}
.icons p{
    color: var(--grey-400);
}
.icons{
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 10px 10px 11px 11px;
    width: 90%;
}
.icons-img{
    display: flex;
    justify-content: right;
    padding: 40px 0;
}
.radius-icons{
    border-radius: 7px;
}
.icons:nth-child(1){
    border-top: 5px solid var(--cyan);
}
.icons-center .icons:nth-child(1){
    border-top: 5px solid var(--red);
}
.icons:nth-child(2){
    border-top: 5px solid var(--orange);
}
.icons:nth-child(3){
    border-top: 5px solid var(--blue);
}
@media(min-width:1280px){
    .intro p{
        width: 55ch;
    }
    .intro br{
        display: none;
    }
    .icons{
        width: 50%;
        padding: 2rem 0 2rem 0;
    }
    .limit p,.icons-img img{
        padding-top: .2rem;
    }
    .icons-img{
        padding-bottom: 0;
    }
    .container-icons{
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 90%;
        height: 100%;
        gap: 30px;
    }

    .icons-center{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .icons-center .icons{
        width: 100%;
    }
    .limit{
        padding: 0;
    }
}